In [36]:
import pandas as pd


df = pd.read_csv("data2.csv", sep=';')
df['type'] = df['Brand'] + '-' + df['Model']

for car_type in df['type'].unique():
    sub_df = df[df['type'] == car_type]['VehicleType']
    mode = sub_df.mode()
    mode = 'unknown' if len(mode) == 0 else mode[0]
    df.loc[sub_df.index] = df.loc[sub_df.index].fillna(mode)
    # print(car_type, mode, sep='\t')


res = df[['Brand', 'VehicleType', 'Price']].groupby(['Brand', 'VehicleType']).median()
res = res.sort_values('Price', ascending=False).reset_index()

print(res.head(10))

           Brand  VehicleType    Price
0     volkswagen          suv  15600.0
1            bmw          suv  14800.0
2      chevrolet        wagon  13499.0
3          skoda          suv  13200.0
4  mercedes_benz  convertible  12790.0